In [8]:
import pandas as pd

In [9]:
FAF_path = r'1-Data\FAF5.4.1.csv'

In [10]:
dfFAF = pd.read_csv(FAF_path)
display(dfFAF)

,fr_orig,dms_orig,dms_dest,fr_dest,fr_inmode,dms_mode,fr_outmode,sctg2,trade_type,dist_band,...,tmiles_2019,tmiles_2020,tmiles_2022,tmiles_2023,tmiles_2025,tmiles_2030,tmiles_2035,tmiles_2040,tmiles_2045,tmiles_2050
0,NaN,11,11,NaN,NaN,1,NaN,1,1,1,...,3.351765,3.375547,3.614785,3.718716,4.364371,5.327137,6.342501,7.763605,9.571647,11.343818
1,NaN,11,19,NaN,NaN,1,NaN,1,1,2,...,50.646235,51.005589,54.030117,55.009693,62.052488,72.493059,82.113979,96.869428,116.602924,134.683927
2,NaN,11,129,NaN,NaN,1,NaN,1,1,3,...,0.468714,0.472040,0.483170,0.481371,0.486727,0.533539,0.564126,0.638719,0.750361,0.844720
3,NaN,11,131,NaN,NaN,1,NaN,1,1,2,...,2.267241,2.283328,2.359789,2.352784,2.549854,3.018065,3.155784,3.394250,3.850035,4.178881
4,NaN,11,139,NaN,NaN,1,NaN,1,1,2,...,1.327792,1.337213,1.412938,1.412791,1.554450,1.863748,1.969298,2.141527,2.456208,2.683008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2269412,NaN,559,61,808.0,NaN,1,3.0,43,3,8,...,0.000000,0.000000,0.266742,0.275206,0.294010,0.345016,0.396155,0.457549,0.531255,0.619805
2269413,NaN,559,171,808.0,NaN,1,4.0,43,3,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2269414,NaN,559,279,808.0,NaN,7,7.0,43,3,3,...,0.000000,0.000000,1.837802,1.883146,1.995468,2.270674,2.560981,2.905823,3.315489,3.802593
2269415,NaN,559,512,808.0,NaN,1,3.0,43,3,6,...,0.000000,0.000000,0.000511,0.000535,0.000578,0.000698,0.000818,0.000963,0.001139,0.001350
2269416,NaN,560,151,808.0,NaN,7,7.0,43,3,8,...,0.000000,0.000000,21.876334,22.482755,23.813470,27.408215,31.135441,35.549942,40.781738,46.988840

In [84]:
utahdmscodes = [499,491]

rslt_df = dfFAF[dfFAF['dms_orig'].isin(utahdmscodes) | dfFAF['dms_dest'].isin(utahdmscodes)] 
rslt_df

,fr_orig,dms_orig,dms_dest,fr_dest,fr_inmode,dms_mode,fr_outmode,sctg2,trade_type,dist_band,...,tmiles_2019,tmiles_2020,tmiles_2022,tmiles_2023,tmiles_2025,tmiles_2030,tmiles_2035,tmiles_2040,tmiles_2045,tmiles_2050
58,NaN,49,499,NaN,NaN,1,NaN,1,1,3,...,2.22,2.06,2.59,2.67,3.79,4.47,5.19,5.95,6.64,7.28
189,NaN,61,491,NaN,NaN,5,NaN,1,1,5,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
190,NaN,61,499,NaN,NaN,5,NaN,1,1,4,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
237,NaN,62,499,NaN,NaN,5,NaN,1,1,5,...,0.01,0.01,0.01,0.01,0.01,0.01,0.02,0.02,0.02,0.03
413,NaN,160,491,NaN,NaN,1,NaN,1,1,2,...,3.25,2.98,3.36,3.46,4.25,4.93,5.43,6.18,7.20,8.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2269285,NaN,491,61,808.00,NaN,2,3.00,43,3,4,...,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2269286,NaN,491,61,808.00,NaN,4,4.00,43,3,4,...,0.00,0.01,0.82,0.85,0.90,1.03,1.17,1.34,1.54,1.77
2269287,NaN,491,61,808.00,NaN,5,3.00,43,3,5,...,0.04,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2269288,NaN,499,61,808.00,NaN,1,3.00,43,3,3,...,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2269289,NaN,499,61,808.00,NaN,4,4.00,43,3,3,...,0.00,0.00,0.06,0.06,0.06,0.07,0.08,0.09,0.11,0.12

In [12]:
dfFAF.columns

Index(['fr_orig', 'dms_orig', 'dms_dest', 'fr_dest', 'fr_inmode', 'dms_mode',
       'fr_outmode', 'sctg2', 'trade_type', 'dist_band', 'tons_2017',
       'tons_2018', 'tons_2019', 'tons_2020', 'tons_2022', 'tons_2023',
       'tons_2025', 'tons_2030', 'tons_2035', 'tons_2040', 'tons_2045',
       'tons_2050', 'value_2017', 'value_2018', 'value_2019', 'value_2020',
       'value_2022', 'value_2023', 'value_2025', 'value_2030', 'value_2035',
       'value_2040', 'value_2045', 'value_2050', 'current_value_2018',
       'current_value_2019', 'current_value_2020', 'tmiles_2017',
       'tmiles_2018', 'tmiles_2019', 'tmiles_2020', 'tmiles_2022',
       'tmiles_2023', 'tmiles_2025', 'tmiles_2030', 'tmiles_2035',
       'tmiles_2040', 'tmiles_2045', 'tmiles_2050'],
      dtype='object')

In [13]:
# create list of strings to exclude
exclude = ['value_', 'current_value_', 'tmiles_', 'fr_', 'trade_type','dist_band']

# get list of dataframe columns
cols = list(dfFAF.columns)

# use for loop to drop all columns that begin with current item in list
for i in exclude:
    cols = [col for col in list(cols) if col.startswith(i) == False]

cols

['dms_orig',
 'dms_dest',
 'dms_mode',
 'sctg2',
 'tons_2017',
 'tons_2018',
 'tons_2019',
 'tons_2020',
 'tons_2022',
 'tons_2023',
 'tons_2025',
 'tons_2030',
 'tons_2035',
 'tons_2040',
 'tons_2045',
 'tons_2050']

In [14]:
dFfAF_filtered = dfFAF[cols]
dFfAF_filtered.head()

,dms_orig,dms_dest,dms_mode,sctg2,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050
0,11,11,1,1,51.010231,51.863434,54.012407,54.395645,58.250877,59.925682,70.330154,85.844765,102.206970,125.107510,154.243420,182.801270
1,11,19,1,1,385.622345,392.072310,408.317910,411.215079,435.599300,443.496800,500.276920,584.450440,662.015810,780.976560,940.071110,1085.843000
2,11,129,1,1,1.360447,1.383202,1.440515,1.450736,1.484941,1.479413,1.495874,1.639743,1.733747,1.962994,2.306109,2.596105
3,11,131,1,1,12.489625,12.698528,13.224694,13.318528,13.764516,13.723660,14.873157,17.604208,18.407513,19.798471,22.457041,24.375181
4,11,139,1,1,5.134423,5.220302,5.436606,5.475181,5.785233,5.784632,6.364650,7.631062,8.063235,8.768422,10.056874,10.985498

In [15]:
ToModel_Path = r"C:\Users\andrewpetersen\Documents\SCTG_ToModel.csv"

In [16]:
dfToModel = pd.read_csv(ToModel_Path)
display(dfToModel)

    Unnamed: 0  SCTG       SCTG.Description  model_comm mdlcom_des
0            1     1      Live animals/fish           1       AGRI
1            2     2          Cereal grains           1       AGRI
2            3     3        Other ag prods.           1       AGRI
3            4     4            Animal feed           1       AGRI
4            5     5           Meat/seafood           1       AGRI
5            6     6    Milled grain prods.           2       FOOD
6            7     7       Other foodstuffs           2       FOOD
7            8     8    Alcoholic beverages           2       FOOD
8            9     9         Tobacco prods.           2       FOOD
9           10    10         Building stone           3       MNRL
10          11    11          Natural sands           3       MNRL
11          12    12                 Gravel           3       MNRL
12          13    13   Nonmetallic minerals           3       MNRL
13          14    14          Metallic ores           3       MNRL
14          15    15                   Coal           4       COAL
15          16    16        Crude petroleum           5       OLGA
16          17    17               Gasoline           5       OLGA
17          18    18              Fuel oils           5       OLGA
18          19    19            Coal-n.e.c.           6       PETR
19          20    20        Basic chemicals           7       CHEM
20          21    21        Pharmaceuticals           7       CHEM
21          22    22            Fertilizers           7       CHEM
22          23    23        Chemical prods.           7       CHEM
23          24    24        Plastics/rubber           7       CHEM
24          25    25                   Logs          11       LRET
25          26    26            Wood prods.          11       LRET
26          27    27        Newsprint/paper           8       TEXT
27          28    28         Paper articles           8       TEXT
28          29    29         Printed prods.           8       TEXT
29          30    30       Textiles/leather           8       TEXT
30          31    39              Furniture          11       LRET
31          32    40      Misc. mfg. prods.          11       LRET
32          33    31   Nonmetal min. prods.           9       BULD
33          34    32            Base metals           9       BULD
34          35    33    Articles-base metal           9       BULD
35          36    34              Machinery           9       BULD
36          37    35            Electronics          10       MANU
37          38    38  Precision instruments          10       MANU
38          39    36     Motorized vehicles          10       MANU
39          40    37       Transport equip.          10       MANU
40          41    41            Waste/scrap          11       LRET
41          42    43          Mixed freight          11       LRET
42          43    99                Unknown          99         ??

In [17]:
dfFAFMerged = dFfAF_filtered.merge(dfToModel[['model_comm', 'mdlcom_des','SCTG']], left_on = 'sctg2', right_on= 'SCTG', how='left')
del dfFAFMerged['SCTG']
dfFAFMerged

,dms_orig,dms_dest,dms_mode,sctg2,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050,model_comm,mdlcom_des
0,11,11,1,1,51.010231,51.863434,54.012407,54.395645,58.250877,59.925682,70.330154,85.844765,102.206970,125.107510,154.243420,182.801270,1,AGRI
1,11,19,1,1,385.622345,392.072310,408.317910,411.215079,435.599300,443.496800,500.276920,584.450440,662.015810,780.976560,940.071110,1085.843000,1,AGRI
2,11,129,1,1,1.360447,1.383202,1.440515,1.450736,1.484941,1.479413,1.495874,1.639743,1.733747,1.962994,2.306109,2.596105,1,AGRI
3,11,131,1,1,12.489625,12.698528,13.224694,13.318528,13.764516,13.723660,14.873157,17.604208,18.407513,19.798471,22.457041,24.375181,1,AGRI
4,11,139,1,1,5.134423,5.220302,5.436606,5.475181,5.785233,5.784632,6.364650,7.631062,8.063235,8.768422,10.056874,10.985498,1,AGRI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2269412,559,61,1,43,0.126177,0.000000,0.000000,0.000000,0.132951,0.137170,0.146542,0.171965,0.197454,0.228054,0.264791,0.308927,11,LRET
2269413,559,171,1,43,0.000000,0.001026,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11,LRET
2269414,559,279,7,43,7.701563,0.000000,0.000000,0.000000,6.280212,6.435162,6.818995,7.759441,8.751489,9.929896,11.329823,12.994376,11,LRET
2269415,559,512,1,43,0.000412,0.000000,0.000000,0.000000,0.000480,0.000502,0.000543,0.000655,0.000768,0.000904,0.001069,0.001268,11,LRET
2269416,560,151,7,43,5.917516,0.000000,0.000000,0.000000,5.924988,6.089231,6.449642,7.423243,8.432725,9.628349,11.045329,12.726461,11,LRET

In [18]:
tons = [col for col in list(dfFAFMerged.columns) if 'tons' in col]

dfFAFMerged1= dfFAFMerged.groupby(['dms_dest', 'dms_orig','sctg2','dms_mode','mdlcom_des','model_comm'],as_index=False)[tons].sum()

In [19]:
del dfFAFMerged1['sctg2']
dfFAFMerged1

,dms_dest,dms_orig,dms_mode,mdlcom_des,model_comm,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050
0,11,11,1,AGRI,1,51.010231,51.863434,54.012407,54.395645,58.250877,59.925682,70.330154,85.844765,102.206970,125.107510,154.243420,182.801270
1,11,11,1,AGRI,1,37.101128,35.410623,31.685063,29.429128,32.346245,32.090385,31.701735,31.278801,31.240881,32.265247,33.758869,34.432892
2,11,11,5,AGRI,1,0.006961,0.006644,0.005945,0.005522,0.006069,0.006021,0.005948,0.005869,0.005861,0.006054,0.006334,0.006460
3,11,11,1,AGRI,1,237.568161,240.639434,243.863903,245.357095,260.509670,262.367100,273.363130,282.925900,324.696410,358.661800,407.590670,440.696960
4,11,11,1,AGRI,1,34.056496,34.207222,34.674548,35.476258,32.328510,32.978012,33.495014,33.757359,34.341999,35.162636,36.023602,37.151169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
943174,560,560,5,LRET,11,0.134057,0.134769,0.132806,0.133235,0.152854,0.157425,0.193925,0.222568,0.255932,0.299390,0.340227,0.375129
943175,560,560,1,LRET,11,986.901184,985.301707,987.108776,990.872652,884.325990,886.638980,884.243350,892.341370,918.476380,960.370180,1011.716200,1069.570800
943176,560,560,1,LRET,11,170.264694,172.535846,169.746750,168.629540,176.948940,182.843770,185.982040,207.090840,229.967190,255.039090,288.824490,318.729250
943177,560,560,5,LRET,11,0.097703,0.099006,0.097406,0.096765,0.101539,0.104921,0.106722,0.118835,0.131962,0.146349,0.165736,0.182896
943178,560,560,7,LRET,11,0.000000,0.033158,0.030913,0.025219,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [20]:

#Aggregating/grouping
dfFAFMerged1= dfFAFMerged1.groupby(['dms_dest', 'dms_orig','dms_mode','mdlcom_des','model_comm'],as_index=False)[tons].sum()
dfFAFMerged1

,dms_dest,dms_orig,dms_mode,mdlcom_des,model_comm,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050
0,11,11,1,AGRI,1,359.736016,362.120713,364.235921,364.658126,383.435302,387.361179,408.890033,433.806825,492.486260,551.197193,631.616561,695.082291
1,11,11,1,BULD,9,3550.142323,3579.073172,3553.801084,3404.831168,3504.124395,3546.167024,3864.227031,4072.593809,4369.383863,4695.859535,5040.012311,5410.780983
2,11,11,1,CHEM,7,492.425715,492.613709,484.722141,466.314148,544.718313,559.447061,655.178811,773.278547,886.940960,1047.338062,1198.442988,1347.734900
3,11,11,1,COAL,4,3870.148438,4113.339378,3889.642713,3165.939541,3311.401900,3268.579100,3040.531000,2179.081500,1439.763100,953.243100,630.903140,428.172580
4,11,11,1,FOOD,2,1017.598075,1012.793824,1007.223162,1053.340725,1014.959791,1028.710855,1040.478260,1098.845310,1154.423093,1226.643261,1297.614091,1396.683393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367803,560,560,5,TEXT,8,0.177502,0.181591,0.178307,0.169948,0.155366,0.156141,0.168955,0.188338,0.207342,0.230674,0.255382,0.279029
367804,560,560,6,OLGA,5,2493.848205,2526.934509,2542.121694,2195.014199,2270.463170,2314.701064,2350.629414,2268.080366,2158.303107,2064.920368,1950.608614,1844.628504
367805,560,560,6,PETR,6,6015.398438,6661.590776,6421.611917,6133.310940,5969.556600,6268.174800,6777.903300,7252.960000,7921.720700,8807.650400,9670.887700,10663.192000
367806,560,560,7,COAL,4,11350.155273,10995.055195,10140.634421,7842.223246,9057.628900,9097.929700,9310.935500,6483.051800,4279.260700,2792.231900,1817.077500,1208.310700
367807,560,560,7,LRET,11,0.000000,0.033158,0.030913,0.025219,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [21]:
ZoneToModel_Path = r"C:\Users\andrewpetersen\Documents\FAFZoneToModel.csv"
dfZoneToModel = pd.read_csv(ZoneToModel_Path)
dfZoneToModel

     FAF.Original.ZoneID  Model.Zone
0                     11           1
1                     12           2
2                     19           3
3                     20           4
4                     41           5
..                   ...         ...
127                  539         128
128                  540         129
129                  551         130
130                  559         131
131                  560         132

[132 rows x 2 columns]

In [22]:
dfFAFMerged2 = pd.merge(dfFAFMerged1,dfZoneToModel, left_on='dms_orig', right_on='FAF.Original.ZoneID', how='outer')
del dfFAFMerged2['FAF.Original.ZoneID']
dfFAFMerged2

,dms_dest,dms_orig,dms_mode,mdlcom_des,model_comm,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050,Model.Zone
0,11,11,1,AGRI,1,359.736016,362.120713,364.235921,364.658126,383.435302,387.361179,408.890033,433.806825,492.486260,551.197193,631.616561,695.082291,1
1,11,11,1,BULD,9,3550.142323,3579.073172,3553.801084,3404.831168,3504.124395,3546.167024,3864.227031,4072.593809,4369.383863,4695.859535,5040.012311,5410.780983,1
2,11,11,1,CHEM,7,492.425715,492.613709,484.722141,466.314148,544.718313,559.447061,655.178811,773.278547,886.940960,1047.338062,1198.442988,1347.734900,1
3,11,11,1,COAL,4,3870.148438,4113.339378,3889.642713,3165.939541,3311.401900,3268.579100,3040.531000,2179.081500,1439.763100,953.243100,630.903140,428.172580,1
4,11,11,1,FOOD,2,1017.598075,1012.793824,1007.223162,1053.340725,1014.959791,1028.710855,1040.478260,1098.845310,1154.423093,1226.643261,1297.614091,1396.683393,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367803,560,560,5,TEXT,8,0.177502,0.181591,0.178307,0.169948,0.155366,0.156141,0.168955,0.188338,0.207342,0.230674,0.255382,0.279029,132
367804,560,560,6,OLGA,5,2493.848205,2526.934509,2542.121694,2195.014199,2270.463170,2314.701064,2350.629414,2268.080366,2158.303107,2064.920368,1950.608614,1844.628504,132
367805,560,560,6,PETR,6,6015.398438,6661.590776,6421.611917,6133.310940,5969.556600,6268.174800,6777.903300,7252.960000,7921.720700,8807.650400,9670.887700,10663.192000,132
367806,560,560,7,COAL,4,11350.155273,10995.055195,10140.634421,7842.223246,9057.628900,9097.929700,9310.935500,6483.051800,4279.260700,2792.231900,1817.077500,1208.310700,132
367807,560,560,7,LRET,11,0.000000,0.033158,0.030913,0.025219,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,132

In [23]:
dfFAFMerged2 = dfFAFMerged2.rename(columns={'Model.Zone': 'model_zone_orig'})
dfFAFMerged2

,dms_dest,dms_orig,dms_mode,mdlcom_des,model_comm,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050,model_zone_orig
0,11,11,1,AGRI,1,359.736016,362.120713,364.235921,364.658126,383.435302,387.361179,408.890033,433.806825,492.486260,551.197193,631.616561,695.082291,1
1,11,11,1,BULD,9,3550.142323,3579.073172,3553.801084,3404.831168,3504.124395,3546.167024,3864.227031,4072.593809,4369.383863,4695.859535,5040.012311,5410.780983,1
2,11,11,1,CHEM,7,492.425715,492.613709,484.722141,466.314148,544.718313,559.447061,655.178811,773.278547,886.940960,1047.338062,1198.442988,1347.734900,1
3,11,11,1,COAL,4,3870.148438,4113.339378,3889.642713,3165.939541,3311.401900,3268.579100,3040.531000,2179.081500,1439.763100,953.243100,630.903140,428.172580,1
4,11,11,1,FOOD,2,1017.598075,1012.793824,1007.223162,1053.340725,1014.959791,1028.710855,1040.478260,1098.845310,1154.423093,1226.643261,1297.614091,1396.683393,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367803,560,560,5,TEXT,8,0.177502,0.181591,0.178307,0.169948,0.155366,0.156141,0.168955,0.188338,0.207342,0.230674,0.255382,0.279029,132
367804,560,560,6,OLGA,5,2493.848205,2526.934509,2542.121694,2195.014199,2270.463170,2314.701064,2350.629414,2268.080366,2158.303107,2064.920368,1950.608614,1844.628504,132
367805,560,560,6,PETR,6,6015.398438,6661.590776,6421.611917,6133.310940,5969.556600,6268.174800,6777.903300,7252.960000,7921.720700,8807.650400,9670.887700,10663.192000,132
367806,560,560,7,COAL,4,11350.155273,10995.055195,10140.634421,7842.223246,9057.628900,9097.929700,9310.935500,6483.051800,4279.260700,2792.231900,1817.077500,1208.310700,132
367807,560,560,7,LRET,11,0.000000,0.033158,0.030913,0.025219,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,132

In [24]:
dfFAFMerged2 = pd.merge(dfFAFMerged2,dfZoneToModel, left_on='dms_dest', right_on='FAF.Original.ZoneID', how='outer')
del dfFAFMerged2['FAF.Original.ZoneID']
dfFAFMerged2

,dms_dest,dms_orig,dms_mode,mdlcom_des,model_comm,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050,model_zone_orig,Model.Zone
0,11,11,1,AGRI,1,359.736016,362.120713,364.235921,364.658126,383.435302,387.361179,408.890033,433.806825,492.486260,551.197193,631.616561,695.082291,1,1
1,11,11,1,BULD,9,3550.142323,3579.073172,3553.801084,3404.831168,3504.124395,3546.167024,3864.227031,4072.593809,4369.383863,4695.859535,5040.012311,5410.780983,1,1
2,11,11,1,CHEM,7,492.425715,492.613709,484.722141,466.314148,544.718313,559.447061,655.178811,773.278547,886.940960,1047.338062,1198.442988,1347.734900,1,1
3,11,11,1,COAL,4,3870.148438,4113.339378,3889.642713,3165.939541,3311.401900,3268.579100,3040.531000,2179.081500,1439.763100,953.243100,630.903140,428.172580,1,1
4,11,11,1,FOOD,2,1017.598075,1012.793824,1007.223162,1053.340725,1014.959791,1028.710855,1040.478260,1098.845310,1154.423093,1226.643261,1297.614091,1396.683393,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367803,560,560,5,TEXT,8,0.177502,0.181591,0.178307,0.169948,0.155366,0.156141,0.168955,0.188338,0.207342,0.230674,0.255382,0.279029,132,132
367804,560,560,6,OLGA,5,2493.848205,2526.934509,2542.121694,2195.014199,2270.463170,2314.701064,2350.629414,2268.080366,2158.303107,2064.920368,1950.608614,1844.628504,132,132
367805,560,560,6,PETR,6,6015.398438,6661.590776,6421.611917,6133.310940,5969.556600,6268.174800,6777.903300,7252.960000,7921.720700,8807.650400,9670.887700,10663.192000,132,132
367806,560,560,7,COAL,4,11350.155273,10995.055195,10140.634421,7842.223246,9057.628900,9097.929700,9310.935500,6483.051800,4279.260700,2792.231900,1817.077500,1208.310700,132,132
367807,560,560,7,LRET,11,0.000000,0.033158,0.030913,0.025219,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,132,132

In [25]:
dfFAFMerged2 = dfFAFMerged2.rename(columns={'Model.Zone': 'model_zone_dest'})
dfFAFMerged2

,dms_dest,dms_orig,dms_mode,mdlcom_des,model_comm,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050,model_zone_orig,model_zone_dest
0,11,11,1,AGRI,1,359.736016,362.120713,364.235921,364.658126,383.435302,387.361179,408.890033,433.806825,492.486260,551.197193,631.616561,695.082291,1,1
1,11,11,1,BULD,9,3550.142323,3579.073172,3553.801084,3404.831168,3504.124395,3546.167024,3864.227031,4072.593809,4369.383863,4695.859535,5040.012311,5410.780983,1,1
2,11,11,1,CHEM,7,492.425715,492.613709,484.722141,466.314148,544.718313,559.447061,655.178811,773.278547,886.940960,1047.338062,1198.442988,1347.734900,1,1
3,11,11,1,COAL,4,3870.148438,4113.339378,3889.642713,3165.939541,3311.401900,3268.579100,3040.531000,2179.081500,1439.763100,953.243100,630.903140,428.172580,1,1
4,11,11,1,FOOD,2,1017.598075,1012.793824,1007.223162,1053.340725,1014.959791,1028.710855,1040.478260,1098.845310,1154.423093,1226.643261,1297.614091,1396.683393,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367803,560,560,5,TEXT,8,0.177502,0.181591,0.178307,0.169948,0.155366,0.156141,0.168955,0.188338,0.207342,0.230674,0.255382,0.279029,132,132
367804,560,560,6,OLGA,5,2493.848205,2526.934509,2542.121694,2195.014199,2270.463170,2314.701064,2350.629414,2268.080366,2158.303107,2064.920368,1950.608614,1844.628504,132,132
367805,560,560,6,PETR,6,6015.398438,6661.590776,6421.611917,6133.310940,5969.556600,6268.174800,6777.903300,7252.960000,7921.720700,8807.650400,9670.887700,10663.192000,132,132
367806,560,560,7,COAL,4,11350.155273,10995.055195,10140.634421,7842.223246,9057.628900,9097.929700,9310.935500,6483.051800,4279.260700,2792.231900,1817.077500,1208.310700,132,132
367807,560,560,7,LRET,11,0.000000,0.033158,0.030913,0.025219,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,132,132

In [26]:
ModeDes_Path = r"C:\Users\andrewpetersen\Documents\FAF\FAFModes.csv"
dfModeDes = pd.read_csv(ModeDes_Path)
dfModeDes

   Numeric Label              Description
0              1                    Truck
1              2                     Rail
2              3                    Water
3              4  Air (include truck-air)
4              5    Multiple modes & mail
5              6                 Pipeline
6              7        Other and unknown
7              8         No domestic mode

In [27]:
dfFAFMerged2 = pd.merge(dfFAFMerged2,dfModeDes, left_on='dms_mode', right_on='Numeric Label', how='outer')
del dfFAFMerged2['Numeric Label']
dfFAFMerged2

,dms_dest,dms_orig,dms_mode,mdlcom_des,model_comm,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050,model_zone_orig,model_zone_dest,Description
0,11,11,1,AGRI,1,359.736016,362.120713,364.235921,364.658126,383.435302,387.361179,408.890033,433.806825,492.486260,551.197193,631.616561,695.082291,1,1,Truck
1,11,11,1,BULD,9,3550.142323,3579.073172,3553.801084,3404.831168,3504.124395,3546.167024,3864.227031,4072.593809,4369.383863,4695.859535,5040.012311,5410.780983,1,1,Truck
2,11,11,1,CHEM,7,492.425715,492.613709,484.722141,466.314148,544.718313,559.447061,655.178811,773.278547,886.940960,1047.338062,1198.442988,1347.734900,1,1,Truck
3,11,11,1,COAL,4,3870.148438,4113.339378,3889.642713,3165.939541,3311.401900,3268.579100,3040.531000,2179.081500,1439.763100,953.243100,630.903140,428.172580,1,1,Truck
4,11,11,1,FOOD,2,1017.598075,1012.793824,1007.223162,1053.340725,1014.959791,1028.710855,1040.478260,1098.845310,1154.423093,1226.643261,1297.614091,1396.683393,1,1,Truck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367803,482,482,8,OLGA,5,30447.339154,32081.439453,17886.030456,18196.831772,17060.693811,16205.755011,15351.881097,13295.774638,11807.135612,10407.373579,9245.984721,8129.573926,111,111,No domestic mode
367804,483,483,8,OLGA,5,12279.943725,10632.439617,6928.727792,9516.932829,5383.989410,5155.676740,4960.381720,4428.066340,4098.560590,3772.783479,3505.111612,3225.138175,112,112,No domestic mode
367805,486,486,8,OLGA,5,37927.650391,34907.015180,26104.832691,24771.107106,29891.624965,28400.879938,27018.166363,23916.878362,21516.150297,19229.406420,17334.379840,15474.212087,115,115,No domestic mode
367806,531,531,8,OLGA,5,139.980507,3177.421198,3200.545025,808.746116,213.184925,211.220095,217.120498,222.993211,226.550810,227.220425,228.280545,225.438401,126,126,No domestic mode
367807,539,539,8,OLGA,5,1562.789846,19.670297,82.081062,47.859701,1295.070336,1246.317070,1211.330453,1112.098777,1050.133977,985.244808,930.146826,869.007513,128,128,No domestic mode

In [28]:
dfFAFMerged2 = dfFAFMerged2.rename(columns={'Description': 'mode_desc'})
dfFAFMerged2

,dms_dest,dms_orig,dms_mode,mdlcom_des,model_comm,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050,model_zone_orig,model_zone_dest,mode_desc
0,11,11,1,AGRI,1,359.736016,362.120713,364.235921,364.658126,383.435302,387.361179,408.890033,433.806825,492.486260,551.197193,631.616561,695.082291,1,1,Truck
1,11,11,1,BULD,9,3550.142323,3579.073172,3553.801084,3404.831168,3504.124395,3546.167024,3864.227031,4072.593809,4369.383863,4695.859535,5040.012311,5410.780983,1,1,Truck
2,11,11,1,CHEM,7,492.425715,492.613709,484.722141,466.314148,544.718313,559.447061,655.178811,773.278547,886.940960,1047.338062,1198.442988,1347.734900,1,1,Truck
3,11,11,1,COAL,4,3870.148438,4113.339378,3889.642713,3165.939541,3311.401900,3268.579100,3040.531000,2179.081500,1439.763100,953.243100,630.903140,428.172580,1,1,Truck
4,11,11,1,FOOD,2,1017.598075,1012.793824,1007.223162,1053.340725,1014.959791,1028.710855,1040.478260,1098.845310,1154.423093,1226.643261,1297.614091,1396.683393,1,1,Truck
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367803,482,482,8,OLGA,5,30447.339154,32081.439453,17886.030456,18196.831772,17060.693811,16205.755011,15351.881097,13295.774638,11807.135612,10407.373579,9245.984721,8129.573926,111,111,No domestic mode
367804,483,483,8,OLGA,5,12279.943725,10632.439617,6928.727792,9516.932829,5383.989410,5155.676740,4960.381720,4428.066340,4098.560590,3772.783479,3505.111612,3225.138175,112,112,No domestic mode
367805,486,486,8,OLGA,5,37927.650391,34907.015180,26104.832691,24771.107106,29891.624965,28400.879938,27018.166363,23916.878362,21516.150297,19229.406420,17334.379840,15474.212087,115,115,No domestic mode
367806,531,531,8,OLGA,5,139.980507,3177.421198,3200.545025,808.746116,213.184925,211.220095,217.120498,222.993211,226.550810,227.220425,228.280545,225.438401,126,126,No domestic mode
367807,539,539,8,OLGA,5,1562.789846,19.670297,82.081062,47.859701,1295.070336,1246.317070,1211.330453,1112.098777,1050.133977,985.244808,930.146826,869.007513,128,128,No domestic mode

In [29]:
tons = [col for col in list(dfFAFMerged.columns) if 'tons' in col]

In [42]:
tons

['tons_2017',
 'tons_2018',
 'tons_2019',
 'tons_2020',
 'tons_2022',
 'tons_2023',
 'tons_2025',
 'tons_2030',
 'tons_2035',
 'tons_2040',
 'tons_2045',
 'tons_2050']

In [30]:
dfFAFAgg= dfFAFMerged2.groupby(['dms_orig','model_zone_orig', 'dms_dest','model_zone_dest','mdlcom_des','model_comm','dms_mode','mode_desc'],as_index=False)[tons].sum()

In [31]:
dfFAFAgg

,dms_orig,model_zone_orig,dms_dest,model_zone_dest,mdlcom_des,model_comm,dms_mode,mode_desc,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050
0,11,1,11,1,AGRI,1,1,Truck,359.736016,362.120713,364.235921,364.658126,383.435302,387.361179,408.890033,433.806825,492.486260,551.197193,631.616561,695.082291
1,11,1,11,1,AGRI,1,5,Multiple modes & mail,0.055472,0.055370,0.055336,0.056055,0.052119,0.052996,0.053659,0.053954,0.054779,0.056141,0.057647,0.059379
2,11,1,11,1,BULD,9,1,Truck,3550.142323,3579.073172,3553.801084,3404.831168,3504.124395,3546.167024,3864.227031,4072.593809,4369.383863,4695.859535,5040.012311,5410.780983
3,11,1,11,1,BULD,9,2,Rail,26.578894,26.442567,26.506012,26.016851,26.476728,26.822536,30.416594,32.657032,35.735714,38.953209,42.378201,45.860081
4,11,1,11,1,BULD,9,5,Multiple modes & mail,116.083810,115.591336,115.820378,113.501914,115.756005,117.285350,132.831815,142.696294,156.122645,170.159096,185.060886,200.271031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367803,560,132,560,132,PETR,6,2,Rail,1730.133911,1915.990141,1846.968020,1764.047611,1716.949000,1802.837000,1949.443700,2086.078100,2278.425500,2533.234400,2781.516600,3066.920900
367804,560,132,560,132,PETR,6,5,Multiple modes & mail,0.165665,0.183461,0.176852,0.168912,0.164402,0.172627,0.186665,0.199748,0.218165,0.242564,0.266338,0.293666
367805,560,132,560,132,PETR,6,6,Pipeline,6015.398438,6661.590776,6421.611917,6133.310940,5969.556600,6268.174800,6777.903300,7252.960000,7921.720700,8807.650400,9670.887700,10663.192000
367806,560,132,560,132,TEXT,8,1,Truck,24.577511,24.795947,24.134162,23.854014,26.275198,26.770530,28.515387,31.451335,34.386117,37.805163,41.069961,44.952786
367807,560,132,560,132,TEXT,8,5,Multiple modes & mail,0.177502,0.181591,0.178307,0.169948,0.155366,0.156141,0.168955,0.188338,0.207342,0.230674,0.255382,0.279029

In [32]:
import plotly.express as px
import plotly.graph_objects as go
from ipywidgets import widgets

In [33]:
dfToModel

    Unnamed: 0  SCTG       SCTG.Description  model_comm mdlcom_des
0            1     1      Live animals/fish           1       AGRI
1            2     2          Cereal grains           1       AGRI
2            3     3        Other ag prods.           1       AGRI
3            4     4            Animal feed           1       AGRI
4            5     5           Meat/seafood           1       AGRI
5            6     6    Milled grain prods.           2       FOOD
6            7     7       Other foodstuffs           2       FOOD
7            8     8    Alcoholic beverages           2       FOOD
8            9     9         Tobacco prods.           2       FOOD
9           10    10         Building stone           3       MNRL
10          11    11          Natural sands           3       MNRL
11          12    12                 Gravel           3       MNRL
12          13    13   Nonmetallic minerals           3       MNRL
13          14    14          Metallic ores           3       MNRL
14          15    15                   Coal           4       COAL
15          16    16        Crude petroleum           5       OLGA
16          17    17               Gasoline           5       OLGA
17          18    18              Fuel oils           5       OLGA
18          19    19            Coal-n.e.c.           6       PETR
19          20    20        Basic chemicals           7       CHEM
20          21    21        Pharmaceuticals           7       CHEM
21          22    22            Fertilizers           7       CHEM
22          23    23        Chemical prods.           7       CHEM
23          24    24        Plastics/rubber           7       CHEM
24          25    25                   Logs          11       LRET
25          26    26            Wood prods.          11       LRET
26          27    27        Newsprint/paper           8       TEXT
27          28    28         Paper articles           8       TEXT
28          29    29         Printed prods.           8       TEXT
29          30    30       Textiles/leather           8       TEXT
30          31    39              Furniture          11       LRET
31          32    40      Misc. mfg. prods.          11       LRET
32          33    31   Nonmetal min. prods.           9       BULD
33          34    32            Base metals           9       BULD
34          35    33    Articles-base metal           9       BULD
35          36    34              Machinery           9       BULD
36          37    35            Electronics          10       MANU
37          38    38  Precision instruments          10       MANU
38          39    36     Motorized vehicles          10       MANU
39          40    37       Transport equip.          10       MANU
40          41    41            Waste/scrap          11       LRET
41          42    43          Mixed freight          11       LRET
42          43    99                Unknown          99         ??

In [34]:
dftons= dfFAFAgg[tons]
dftons

,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050
0,359.736016,362.120713,364.235921,364.658126,383.435302,387.361179,408.890033,433.806825,492.486260,551.197193,631.616561,695.082291
1,0.055472,0.055370,0.055336,0.056055,0.052119,0.052996,0.053659,0.053954,0.054779,0.056141,0.057647,0.059379
2,3550.142323,3579.073172,3553.801084,3404.831168,3504.124395,3546.167024,3864.227031,4072.593809,4369.383863,4695.859535,5040.012311,5410.780983
3,26.578894,26.442567,26.506012,26.016851,26.476728,26.822536,30.416594,32.657032,35.735714,38.953209,42.378201,45.860081
4,116.083810,115.591336,115.820378,113.501914,115.756005,117.285350,132.831815,142.696294,156.122645,170.159096,185.060886,200.271031
...,...,...,...,...,...,...,...,...,...,...,...,...
367803,1730.133911,1915.990141,1846.968020,1764.047611,1716.949000,1802.837000,1949.443700,2086.078100,2278.425500,2533.234400,2781.516600,3066.920900
367804,0.165665,0.183461,0.176852,0.168912,0.164402,0.172627,0.186665,0.199748,0.218165,0.242564,0.266338,0.293666
367805,6015.398438,6661.590776,6421.611917,6133.310940,5969.556600,6268.174800,6777.903300,7252.960000,7921.720700,8807.650400,9670.887700,10663.192000
367806,24.577511,24.795947,24.134162,23.854014,26.275198,26.770530,28.515387,31.451335,34.386117,37.805163,41.069961,44.952786
367807,0.177502,0.181591,0.178307,0.169948,0.155366,0.156141,0.168955,0.188338,0.207342,0.230674,0.255382,0.279029

In [35]:
dfFAFAgg.mode_desc.unique()

array(['Truck', 'Multiple modes & mail', 'Rail', 'Other and unknown',
       'Air (include truck-air)', 'Pipeline', 'Water', 'No domestic mode'],
      dtype=object)

In [2]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\andrewpetersen\appdata\local\esri\conda\envs\arcgispro-py3-clone\lib\site-packages (from seaborn) (3.4.3)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\andrewpetersen\appdata\local\esri\conda\envs\arcgispro-py3-clone\lib\site-packages (from seaborn) (1.20.1)
Requirement already satisfied: pandas>=0.25 in c:\users\andrewpetersen\appdata\local\esri\conda\envs\arcgispro-py3-clone\lib\site-packages (from seaborn) (1.3.5)
Requirement already satisfied: cycler>=0.10 in c:\users\andrewpetersen\appdata\local\esri\conda\envs\arcgispro-py3-clone\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\andrewpetersen\appdata\local\esri\conda\envs\arcgispro-py3-clone\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\andrewpetersen\appdata\local\esri\conda\envs\arcgispro-py3-clone\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\andrewpetersen\appdata\local\esri\conda\envs\arcgispro-py3-clone\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\andrewpetersen\appdata\local\esri\conda\envs\arcgispro-py3-clone\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.3.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\andrewpetersen\appdata\local\esri\conda\envs\arcgispro-py3-clone\lib\site-packages\pytz-2022.1-py3.9.egg (from pandas>=0.25->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\andrewpetersen\appdata\local\esri\conda\envs\arcgispro-py3-clone\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [51]:
import seaborn as sns
import ipywidgets as widgets
from IPython.display import display
import matplotlib.pyplot as plt

In [83]:
melted_data = pd.melt(dfFAFAgg, value_vars=tons, var_name='Year', value_name='Tons')
dfAggTonsfiltered = melted_data.groupby(['Year'],as_index=False)['Tons'].sum()
dfAggTonsfiltered

         Year        Tons
0   tons_2017 19786384.61
1   tons_2018 20363056.48
2   tons_2019 20219833.30
3   tons_2020 19323267.83
4   tons_2022 19957402.67
5   tons_2023 20301686.04
6   tons_2025 21071745.36
7   tons_2030 22308357.21
8   tons_2035 23547674.93
9   tons_2040 25091614.35
10  tons_2045 26840890.96
11  tons_2050 28890491.21

In [80]:

# Create dropdown widgets for filtering
mdlcom_des_dropdown = widgets.Dropdown(options=['All', 'AGRI', 'BULD', 'CHEM', 'COAL', 'FOOD', 'LRET', 'MANU', 'MNRL', 'OLGA', 'PETR', 'TEXT'], value='All', description='Model Description: ')
mode_desc_dropdown = widgets.Dropdown(options=['All', 'Truck', 'Multiple modes & mail', 'Rail', 'Other and unknown', 'Air (include truck-air)', 'Pipeline', 'Water', 'No domestic mode'], value='All', description='Mode: ')

# Create a function to update the plot based on dropdown selections
def update_plot(commodity, mode):
    filtered_FAF = dfFAFAgg.copy()
    
    if commodity != 'All':
        
        filtered_FAF = filtered_FAF[filtered_FAF['mdlcom_des'] == commodity]
    
    if mode != 'All':
        filtered_FAF = filtered_FAF[filtered_FAF['mode_desc'] == mode]

    # Reshape the data using melt
    melted_data = pd.melt(filtered_FAF, value_vars=tons, var_name='Year', value_name='Tons')
    dfAggTonsfiltered = melted_data.groupby(['Year'],as_index=False)['Tons'].sum()
    # Create a line plot of values by specific columns
    sns.lineplot(data=dfAggTonsfiltered, x='Year', y='Tons')
    plt.xticks(rotation=60)
    plt.title("Tons by Year")
    plt.ticklabel_format(style='plain', axis='y')


# Create an interactive plot
interactive_plot = widgets.interactive(update_plot, commodity=mdlcom_des_dropdown, mode=mode_desc_dropdown)

# Display the widgets and plot
##display(widgets.HBox([mdlcom_des_dropdown, mode_desc_dropdown]))
display(interactive_plot)

interactive(children=(Dropdown(description='Model Description: ', options=('All', 'AGRI', 'BULD', 'CHEM', 'COA…

In [93]:
#Filter by Utah then add column for direction(II,XI,XX,IX)
utahdmscodes = [499,491]
dfFAFAggUtah = dfFAFAgg[dfFAFAgg['dms_orig'].isin(utahdmscodes) | dfFAFAgg['dms_dest'].isin(utahdmscodes)] 

dfFAFAggUtah

,dms_orig,model_zone_orig,dms_dest,model_zone_dest,mdlcom_des,model_comm,dms_mode,mode_desc,tons_2017,tons_2018,tons_2019,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050
2212,11,1,491,119,AGRI,1,1,Truck,1.00,1.00,1.02,1.04,0.90,0.92,0.91,0.94,0.97,1.01,1.05,1.10
2213,11,1,491,119,BULD,9,1,Truck,1.46,1.47,1.47,1.41,1.32,1.35,1.54,1.56,1.68,1.81,1.93,2.01
2214,11,1,491,119,BULD,9,4,Air (include truck-air),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2215,11,1,491,119,BULD,9,5,Multiple modes & mail,0.07,0.07,0.07,0.06,0.07,0.07,0.07,0.08,0.09,0.09,0.10,0.10
2216,11,1,491,119,CHEM,7,1,Truck,1.00,1.02,1.03,0.99,1.13,1.15,1.30,1.50,1.73,1.99,2.29,2.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367636,560,132,499,120,MNRL,3,1,Truck,1.66,1.77,1.66,1.35,1.44,1.45,1.44,1.40,1.31,1.26,1.18,1.12
367637,560,132,499,120,PETR,6,1,Truck,2.00,2.09,1.86,1.61,2.10,2.17,2.32,2.48,2.69,2.94,3.25,3.58
367638,560,132,499,120,PETR,6,6,Pipeline,2597.95,2716.51,2419.36,2092.61,2728.51,2816.86,3007.39,3223.48,3490.58,3820.25,4221.70,4649.72
367639,560,132,499,120,TEXT,8,1,Truck,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
367640,560,132,499,120,TEXT,8,5,Multiple modes & mail,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01

In [95]:
# Define a function to apply the logic and populate the "direction" column
def populate_direction(row):
    if row['dms_orig'] in [491, 499] and row['dms_dest'] in [491, 499]:
        return 'II'
    elif row['dms_orig'] in [491, 499] and row['dms_dest'] not in [491, 499]:
        return 'IX'
    elif row['dms_orig'] not in [491, 499] and row['dms_dest'] in [491, 499]:
        return 'XI'
    else:
        return 'XX'
# Apply the function to create a new column "direction"
dfFAFAggUtah['Direction'] = dfFAFAggUtah.apply(lambda row: populate_direction(row), axis=1)


dfFAFAggUtah

<ipython-input-95-42b0a4cc764a>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfFAFAggUtah['Direction'] = dfFAFAggUtah.apply(lambda row: populate_direction(row), axis=1)

,dms_orig,model_zone_orig,dms_dest,model_zone_dest,mdlcom_des,model_comm,dms_mode,mode_desc,tons_2017,tons_2018,...,tons_2020,tons_2022,tons_2023,tons_2025,tons_2030,tons_2035,tons_2040,tons_2045,tons_2050,Direction
2212,11,1,491,119,AGRI,1,1,Truck,1.00,1.00,...,1.04,0.90,0.92,0.91,0.94,0.97,1.01,1.05,1.10,XI
2213,11,1,491,119,BULD,9,1,Truck,1.46,1.47,...,1.41,1.32,1.35,1.54,1.56,1.68,1.81,1.93,2.01,XI
2214,11,1,491,119,BULD,9,4,Air (include truck-air),0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,XI
2215,11,1,491,119,BULD,9,5,Multiple modes & mail,0.07,0.07,...,0.06,0.07,0.07,0.07,0.08,0.09,0.09,0.10,0.10,XI
2216,11,1,491,119,CHEM,7,1,Truck,1.00,1.02,...,0.99,1.13,1.15,1.30,1.50,1.73,1.99,2.29,2.64,XI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367636,560,132,499,120,MNRL,3,1,Truck,1.66,1.77,...,1.35,1.44,1.45,1.44,1.40,1.31,1.26,1.18,1.12,XI
367637,560,132,499,120,PETR,6,1,Truck,2.00,2.09,...,1.61,2.10,2.17,2.32,2.48,2.69,2.94,3.25,3.58,XI
367638,560,132,499,120,PETR,6,6,Pipeline,2597.95,2716.51,...,2092.61,2728.51,2816.86,3007.39,3223.48,3490.58,3820.25,4221.70,4649.72,XI
367639,560,132,499,120,TEXT,8,1,Truck,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,XI
367640,560,132,499,120,TEXT,8,5,Multiple modes & mail,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,XI

In [ ]:

# Create dropdown widgets for filtering
direction_dropdown = widgets.Dropdown(options=['All', 'AGRI', 'BULD', 'CHEM', 'COAL', 'FOOD', 'LRET', 'MANU', 'MNRL', 'OLGA', 'PETR', 'TEXT'], value='All', description='Model Description: ')
mode_desc_dropdown = widgets.Dropdown(options=['All', 'Truck', 'Multiple modes & mail', 'Rail', 'Other and unknown', 'Air (include truck-air)', 'Pipeline', 'Water', 'No domestic mode'], value='All', description='Mode: ')

# Create a function to update the plot based on dropdown selections
def update_plot(commodity, mode):
    filtered_FAF = dfFAFAgg.copy()
    
    if commodity != 'All':
        
        filtered_FAF = filtered_FAF[filtered_FAF['mdlcom_des'] == commodity]
    
    if mode != 'All':
        filtered_FAF = filtered_FAF[filtered_FAF['mode_desc'] == mode]

    # Reshape the data using melt
    melted_data = pd.melt(filtered_FAF, value_vars=tons, var_name='Year', value_name='Tons')
    dfAggTonsfiltered = melted_data.groupby(['Year'],as_index=False)['Tons'].sum()
    # Create a line plot of values by specific columns
    sns.lineplot(data=dfAggTonsfiltered, x='Year', y='Tons')
    plt.xticks(rotation=60)
    plt.title("Tons by Year")
    plt.ticklabel_format(style='plain', axis='y')


# Create an interactive plot
interactive_plot = widgets.interactive(update_plot, commodity=mdlcom_des_dropdown, mode=mode_desc_dropdown)

# Display the widgets and plot
##display(widgets.HBox([mdlcom_des_dropdown, mode_desc_dropdown]))
display(interactive_plot)